<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <style>
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
    .grafico {
  padding: 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 80%;
}
.grafico span {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  height: 0;
  border-top: 2px solid;
  transform-origin: left center;
}
.grafico span > span {
  left: 100%; bottom: 0;
}
[data-valor='25'] {width: 75px; transform: rotate(-45deg);}
[data-valor='8'] {width: 24px; transform: rotate(65deg);}
[data-valor='13'] {width: 39px; transform: rotate(-45deg);}
[data-valor='5'] {width: 15px; transform: rotate(50deg);}
[data-valor='23'] {width: 69px; transform: rotate(-70deg);}
[data-valor='12'] {width: 36px; transform: rotate(75deg);}
[data-valor='15'] {width: 45px; transform: rotate(-45deg);}

[data-valor]:before {
  content: '';
  position: absolute;
  display: block;
  right: -4px;
  bottom: -3px;
  padding: 4px;
  background: #fff;
  border-radius: 50%;
}
[data-valor='23']:after {
  content: '+' attr(data-valor) '%';
  position: absolute;
  right: -2.7rem;
  top: -1.7rem;
  padding: .3rem .5rem;
  background: #50597B;
  border-radius: .5rem;
  transform: rotate(45deg);  
}
[class^='eje-'] {
  position: absolute;
  left: 0;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 1rem 0 2rem;
  height: 80%;
}
.eje-x {
  height: 2.5rem;
}
.eje-y li {
  height: 25%;
  border-top: 1px solid #777;
}
[data-ejeY]:before {
  content: attr(data-ejeY);
  display: inline-block;
  width: 2rem;
  text-align: right;
  line-height: 0;
  position: relative;
  left: -2.5rem;
  top: -.5rem;
} 
.eje-x li {
  width: 33%;
  float: left;
  text-align: center;
}
    
    </style>
</head>


<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

<!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
<div class="container">
<div class="line-chart-block block">
    <div class="line-chart">
      <div class='grafico'>
      <ul class='eje-y'>
        <li data-ejeY='30'></li>
        <li data-ejeY='20'></li>
        <li data-ejeY='10'></li>
        <li data-ejeY='0'></li>
      </ul>
      <ul class='eje-x'>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
      </ul>
        <span data-valor='25'>
          <span data-valor='8'>
            <span data-valor='13'>
              <span data-valor='5'>   
                <span data-valor='23'>   
                <span data-valor='12'>
                    <span data-valor='15'>
                    </span></span></span></span></span></span></span>
      </div>
      
    </div>
                   <ul class="time-lenght horizontal-list">
                       <li><a class="time-lenght-btn" href="#14">Week</a></li>
                       <li><a class="time-lenght-btn" href="#15">Month</a></li>
                       <li><a class="time-lenght-btn" href="#16">Year</a></li>
                   </ul>
                   <ul class="month-data clear">
                       <li>
                           <p>APR<span class="scnd-font-color"> 2013</span></p>
                           <p><span class="entypo-plus increment"> </span>21<sup>%</sup></p>
                       </li>
                       <li>
                           <p>MAY<span class="scnd-font-color"> 2013</span></p>
                           <p><span class="entypo-plus increment"> </span>48<sup>%</sup></p>
                       </li>
                       <li>
                           <p>JUN<span class="scnd-font-color"> 2013</span></p>
                           <p><span class="entypo-plus increment"> </span>35<sup>%</sup></p>
                       </li>
                   </ul>
               </div>
            </div>

            </main>

            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        
        </body>
        
        </html>