<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container" bs5-navbar-background-color="green">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>¡Bienvenido!</h1>
            <p>Esta es la web para visualizar los datos de seguimiento de la conservacion de su pescado</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

<style>
.red {
   color: red;
}
.thick {
   font-size:20px;
}
.green {
   color:green;
}
</style>

</html>